img{
    margin-left: 50px;
}
header{
    margin: 0 auto;
}
.center{
    /* margin: auto; */
    text-align: center;
}
container{
    display:flex;
} 
experience{
    display:flex;
    flex-direction: column;
}