img{
    margin-left: 50px;
}
header{
    margin: 0 auto;
}
.center{
    /* margin: auto; */
    text-align: center;
}
container{
    display:flex;
    align-items: center;
} 
block{
    margin-left: 50px;
    margin-right: 50px;
}
experience{
    /* display:flex;
    flex-direction: column; */
    margin-left: 50px;
    margin-right: 50px;
}
ul i {
    font-size: 18px;
    margin-left: -20px;
}
ul {
    list-style-position: outside;
}